PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=asd
DB_USER=asd
DB_PASSWORD=asd

# KEYCLOAK_JWKS_URL=https://authtest.cloudfruit.cl/auth/realms/TEST/protocol/openid-connect/certs
# KEYCLOAK_ISSUER=https://authtest.cloudfruit.cl/auth/realms/TEST

# CORS_ORIGIN=http://localhost:3000

KEYCLOAK_JWKS_URL=http://localhost:3005/realms/saga-ops/protocol/openid-connect/certs
KEYCLOAK_ISSUER=http://localhost:3005/realms/saga-ops

CORS_ORIGIN=http://localhost:3000

# Keycloak a admin
KC_ADMIN=asd
KC_ADMIN_PASSWORD=asd

# Keycloak — base de datos exclusiva
KC_DB_NAME=asd
KC_DB_USER=asd
KC_DB_PASSWORD=asd
