PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=burservice
DB_USER=postgres
DB_PASSWORD=postgres

KEYCLOAK_JWKS_URL=https://authtest.cloudfruit.cl/auth/realms/TEST/protocol/openid-connect/certs
KEYCLOAK_ISSUER=https://authtest.cloudfruit.cl/auth/realms/TEST

CORS_ORIGIN=http://localhost:3000


